@import '~@/styles/mixin.scss';

.home {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

$navHeight: 50px;
.nav {
  flex-basis: 100%;
  height: $navHeight;
  border-bottom: 1px solid;
  @include flexLayout(center, center);
}
@mixin commonHeight {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - #{$navHeight});
  max-height: calc(100vh - #{$navHeight});
  overflow: auto;
}
.sidebar {
  flex-basis: 250px;
  overflow-x: hidden;
  @include commonHeight;
}

.main {
  flex: 1;
  @include commonHeight;
}
