@import "~@/styles/mixin.scss";

.home {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

$navHeight: 50px;
.nav {
  height: $navHeight;
  flex-basis: 100%;
  @include flexLayout(center, center);
  border-bottom: 1px solid;
}
@mixin commonHeight {
  height: calc(100vh - #{$navHeight});
  max-height: calc(100vh - #{$navHeight});
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.sidebar {
  flex-basis: 250px;
  @include commonHeight;
  overflow-x: hidden;
}

.main {
  flex: 1;
  @include commonHeight;
}
